<section class="c-header">
  <div class="c-header__tittle"><span><img src="../../../../assets/letter-s.png" alt=""></span>Shopéame!</div>
  <div class="c-header__cat">
    <div class="c-header__cat-div" routerLink="">
      <img src="../../../../assets/radiation.png" alt="">
      <p>Home Page</p>
    </div>
    <div class="c-header__cat-div"  routerLink="products" routerLinkActive="active-link">
      <img src="../../../../assets/binoculars.png" alt="">
      <p>Products</p>
    </div>
    <div class="c-header__cat-div" routerLink="gestion">
      <img src="../../../../assets/steering-wheel.png" alt="">
      <p>Gestión</p>
    </div>
  </div>
</section>
